<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self'; script-src 'unsafe-inline'; style-src 'self' 'unsafe-inline' cdn.jsdelivr.net;">-->
    <title>@ViewData["Title"] - IntexII_0305</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntexII_0305.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body>
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
            <div class="container-fluid" style="background-color: #002E5D; display: flex; flex-direction: row;">
                <a class="navbar-brand site-header" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; padding: 20px 0 20px 0; margin: 0px; margin-right: 10px">Fag el-Gamous</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="BurialSummary">Summaries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="HeadDirectionPred">Head Direction Predictor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="SexPred">Sex Predictor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="UnsupervisedFindings">Findings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="" asp-controller="Home" asp-action="Tables">Add Records</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #002E5D; position: fixed; left: 0; bottom: 0; width: 100%; padding-top: 9px; padding-bottom:9px;">
        <div class="container" style="color: white;">
            &copy; 2023 - Mummy Database - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
