@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="UserRoleManagement" class="nav-link btn btn-link text-white">Configure User Roles</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link nav-auth" style="color: white;" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-auth" style="color: white;" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
        <li class="nav-item">
        <a class="nav-link nav-auth" style="color: white;" asp-area="Identity" asp-page="/Account/Login">Login to a Super Admin account to Configure User Roles</a>
    </li>
}
</ul>
<!-- @if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-action="Index" asp-controller="UserRoleManagement" class="btn btn-outline-secondary">Configure User Roles</a>
    </div>
}
else
{
    <h1 class="display-4 text-center">Welcome</h1>
    <h1 class="text-center">Please login to view more...</h1>
} -->