*.OnnxRuntime filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.xcframework filter=lfs diff=lfs merge=lfs -text
*.managed filter=lfs diff=lfs merge=lfs -text
*.framework/onnxruntime* filter=lfs diff=lfs merge=lfs -text
*.onnxruntime* filter=lfs diff=lfs merge=lfs -text
*.xcframework* filter=lfs diff=lfs merge=lfs -text
/obj/Release/net6.0/PubTmp/Out/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/onnxruntime filter=lfs diff=lfs merge=lfs -text
site/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/onnxruntime filter=lfs diff=lfs merge=lfs -text
