@{
}
@* @model IEnumerable<string> *@
@model FiltersViewModel
<div>
    <form method="get" asp-controller="Home" asp-action="BurialSummary" asp-route-pageNum="1" style="display: flex; flex-direction: column;">

        <label asp-for="BurialRecordId">Burial Record ID:</label>
        <input asp-for="BurialRecordId" name="BurialRecordId" type="number">


        <label asp-for="Sexes">Sex:</label>
            <select asp-for="Sexes" name="Sexes">
                <option default value="">Select Sex:</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
            </select><br />

            <label asp-for="AgesAtDeath">Age at Death:</label>
            <select asp-for="AgesAtDeath" name="AgesAtDeath">
                <option default value="">Select Age:</option>
                <option value="A">Adult (15+)</option>
                <option value="C">Child (3-15)</option>
                <option value="I">Infant (1-3)</option>
                <option value="N">Newborn (0-1)</option>
                <option value="U">Unknown</option>
            </select><br />

        
        <label for="Depths">Depth:</label>
        <select name="Depths" asp-for="Depths">
            <option default value="">Select Depth:</option>
            @foreach (var item in Model.Depths)
            {
                <option value="@item">@item</option>
            }
        </select>

        <label asp-for="HeadDirections">Head Direction:</label>
        <select asp-for="HeadDirections" name="HeadDirections">
            <option default value="">Select Head Direction:</option>
            <option value="E">East</option>
            <option value="W">West</option>
        </select><br />


        <label asp-for="Wrappings">Wrapping:</label>
        <select asp-for="Wrappings" name="Wrappings">
            <option default value="">Select Wrapping Type:</option>
            <option value="W">Full or Nearly Full Wrapping</option>
            <option value="H">Partial Wrapping</option>
            <option value="B">Bones and/or little Wrapping</option>
        </select>

        <label asp-for="HairColors">Hair Color:</label>
        <select asp-for="HairColors" name="HairColors">
            <option default value="">Select Hair Color:</option>
            <option value="B">Brown/Dark Brown/Lt Brown</option>
            <option value="K">Black</option>
            <option value="A">Brown-Red</option>
            <option value="R">Red/Red-Bl</option>
            <option value="D">Blond</option>
            <option value="U">Unknown</option>
        </select><br />

@*        <label asp-for="Areas">Area:</label>
        <select asp-for="Areas" name="Areas">
            <option default value="">Select Area: </option>
            <option value="NE">NE</option>
            <option value="NNW">NNW</option>
            <option value="NW">NW</option>
            <option value="SE">SE</option>
            <option value="SW">SW</option>
        </select>*@

        <button type="submit">submit</button>
    </form>
</div>