
@{
}

@model IEnumerable<string>
<div class="d-grid gap-2 bg-dark">


    <a asp-controller="Home" asp-action="Index" asp-route-pageNum ="1" asp-route-burialArea="" class="btn btn-outline-secondary shadow card card-header-pills">Home</a>

    @foreach (string a in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-burialArea="@a"  asp-route-pageNum="1"
           class="btn shadow card card-header-pills @(ViewBag.SelectedCategory == a ? "btn-primary bg-dark" : "btn-outline-secondary")">@a</a>
    }
</div>


