@using IntexII_0305.Models.ViewModels;
@using IntexII_0305.Models;
@model RecordsViewModel

<h1>Fag el-Gamous</h1>

@*This for loop will iterate through each object in the Books table in our model*@
@foreach (Burialmain b in Model.burialmain)
{
    //Simply referencing the BookSummary page for the partial view. All we need to pass in is the b object
    <partial name="BurialSummary" model="b" />
}

<div 
    page-blah="@Model.PageInfo" page-action="BurialSummary" page-classes-enabled="true" page-class="btn"
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
