@{
    ViewData["Title"] = "Sex Predictor";
}

@model string

<div class="text-center">
    <h1 class="display-4">Head Direction Predictor</h1>
    <p>Predicting Mummies Head Direction</p>
</div>

<div>
    <form method="post" action="HeadDirectionPred">
        <label for="square_north_south">Square North South:</label>
        <input type="number" step="0.01" for="square_north_south" name="square_north_south" /><br />

        <label for="body_depth">Depth:</label>
        <input type="number" step="0.01" for="body_depth" name="body_depth"/><br />

        <label for="south_to_head">South to Head:</label>
        <input type="number" step="0.01" for="south_to_head" name="south_to_head"/><br />

        <label for="square_east_west">Square East West:</label>
        <input type="number" step="0.01" for="square_east_west" name="square_east_west"/><br />

        <label for="west_to_head">West to Head:</label>
        <input type="number" step="0.01" for="west_to_head" name="west_to_head"/><br />

        <label for="west_to_feet">West to Feet:</label>
        <input type="number" step="0.01" for="west_to_feet" name="west_to_feet"/><br />

        <label for="south_to_feet">South to Feet:</label>
        <input type="number" step="0.01" for="south_to_feet" name="south_to_feet"/><br />

        <label for="wrapping">Wrapping:</label>
        <input for="wrapping" name="wrapping"/><br />

        <label for="area">Area:</label>
        <input for="area" name="area" /><br />

        <button type="Submit" asp-action="HeadDirectionPred">Submit</button>
    </form>

    <div>
        <h4>Predicted Direction:</h4>
        <div>
            @if (Model == "W")
            {
                <h5>West</h5>
            }
            else if (Model == "E")
            {
                <h5>East</h5>
            }
            else
            {
                <p></p>
            }
        </div>
    </div>

</div>
