@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<body>
	<div class="container">
		<h1>M&M's Privacy Policy</h1>
		<p>M&M is part of the BYU Fag el-Gamous Group which works in Egypt to excavate mummies and collect data and artifacts on ancient history. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
		<h2>What data do we collect?</h2>
		<p>M&M collects the following data:</p>
		<ul>
			<li>Personal identification information (Name, email address, phone number, etc.)</li>
			<li>Geographic Location (website access location)</li>
		</ul>
		<h2>How do we collect your data?</h2>
		<p>You directly provide M&M with most of the data we collect. We collect data and process data when you:</p>
		<ul>
			<li>Register an account online.</li>
			<li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
			<li>Use or view our website via your browser’s cookies.</li>
		</ul>
		<h2>How will we use your data?</h2>
		<p>Our Company collects your data so that we can:</p>
		<ul>
			<li>Manage your account.</li>
			<li>Email you with special offers on products and provide you with information regarding our company.</li>
			<li>Adjust our website to tailor to our users’ needs.</li>
			<li>Share with advertising partners for advertising purposes.</li>
		</ul>
		<h2>How do we store your data?</h2>
		<p>M&M securely stores your data using Amazon Web Services.</p>
		<p>M&M will keep your personal information for 3 years. Once this time period has expired, your data will automatically be deleted by AWS, unless you choose to continually renew your account, year after year.</p>
		<h2>Marketing</h2>
		<p>M&M would like to send you information on the projects that we are performing and updates on any future discoveries we may find.</p>
		<p>If you have agreed to receive marketing, you may always opt out at a later date.</p>
		<p>You have the right at any time to stop M&M from contacting you for marketing purposes or giving your data to other members of the Fag el-Gamous company.</p>
		<h2>What are your data protection rights?</h2>
		<p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
		<ul>
			<li>The right to access – You have the right to request M&M for copies of your personal data. We may charge you a small fee for this service.</li>
			<li>The right to rectification – You have the right to request that M&M correct any information you believe is</li>

        </ul>

        <h2>Cookies</h2>
<p>There are a number of different types of cookies, however, our website uses:</p>
<ul>
    <li>Functionality – M&M uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    <li>Advertising – M&M uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. M&M sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
</ul>

<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

<h2>Privacy policies of other websites</h2>
<p>The M&M website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

<h2>Changes to our privacy policy</h2>
<p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 14 April 2023.</p>

<h2>How to contact us</h2>
<p>If you have any questions about M&M’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
<ul>
    <li>Email us at: goshgang@is404.net</li>
    <li>Or call us: (801) 867-5309</li>
</ul>

<h2>How to contact the appropriate authority</h2>
<p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
<ul>
    <li>Email: anthony.giuliani26@gmail.com</li>
</ul>

</div>
</body>
</html>