@{
    ViewData["Title"] = "Sex Predictor";
}

<div class="text-center">
    <h1 class="display-4">Sex Predictor</h1>
    <p>Predicting Mummies Sex</a>.</p>
</div>

<div>
    <form method="post"></form>
</div>
