<div class="grid-container">
    <div class="grid-item">
        <form method="get" asp-action="Analysis" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Analysis</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Artifactfagelgamousregister" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Artifact Register</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Artifactkomaushimregister" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Komaushim Artifact Register</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Biological" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Biological</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Bodyanalysischart" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Body Analysis Chart</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Book" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Books</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Add" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Burial Main</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="C14" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">C14</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Color" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Color</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Cranium" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Cranium</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Decoration" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Decoration</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Dimension" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Dimension</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Newsarticle" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">News Article</button>
        </form>
    </div>
    <div class="grid-item">
        <form method="get" asp-action="Photodatum" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Photo Data</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Photoform" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Photo Form</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Structure" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Structure</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Teammember" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Team Member</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Textile" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Textile</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Textilefunction" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Textile Function</button>
        </form>
    </div>

    <div class="grid-item">
        <form method="get" asp-action="Yarnmanipulation" style="display: flex; justify-content: center;">
            <button type="Submit" class="btn submit-buttons" style="color: white; background-color: #002E5D">Yarn Manipulation</button>
        </form>
    </div>
</div>