@{
    ViewData["Title"] = "Add Textile Function Record";
}

@model Textilefunction

<div>
    <h4> Add a new Textile Function record: </h4>
    <div style="display: grid; grid-template-columns: auto auto">
        <form method="post">

            <!-- <label asp-for="Id">Id:</label>
            <input type="number" asp-for="Id"/><br /> -->

            <label asp-for="Value">Value:</label>
            <input asp-for="Value"/><br />

            <label asp-for="Textilefunctionid">Textile function id:</label>
            <input type="number" asp-for="Textilefunctionid"/><br />

            <button type="Submit">Submit</button>
        </form>
    </div>
</div>

