@{
    ViewData["Title"] = "Unsupervised Findings";
}

<div class="text-center">
    <h1 class="display-4">Unsupervised Findings</h1>
    <p>Unsupervised Findings</p>
    
    <h2>This diagram plots the location of where the mummies have been buried. It also shows the length of the mummies as well.</h2>
    <img height="300" width="800" src="~/img/newplotJ.jpg" alt="Unsupervised findings model">
    <h2>
        We can conclude from this model an estimated length of a mummy if they were to dig in a certain area.
    </h2>
</div>